/Build/Archives/
/Build/Reports/
/Build/Temporary/
/Configuration/Production/IncludeCachedConfigurations.php
/Configuration/PackageStates.php
Configuration/Development/Settings.yaml
Configuration/Production/Settings.yaml
Configuration/Settings.yaml
/Data/
/Packages/Application/
/Packages/.Shortcuts/
/Tests/
/Web/_Resources/
