[submodule "Packages/Framework/TYPO3.FLOW3"]
	path = Packages/Framework/TYPO3.FLOW3
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.FLOW3.git
[submodule "Packages/Framework/TYPO3.Fluid"]
	path = Packages/Framework/TYPO3.Fluid
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.Fluid.git
[submodule "Packages/Framework/TYPO3.Kickstart"]
	path = Packages/Framework/TYPO3.Kickstart
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.Kickstart.git
[submodule "Packages/Framework/TYPO3.Party"]
	path = Packages/Framework/TYPO3.Party
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.Party.git
[submodule "Packages/Framework/TYPO3.Welcome"]
	path = Packages/Framework/TYPO3.Welcome
	url = git://git.typo3.org/FLOW3/Packages/TYPO3.Welcome.git
[submodule "Build/Common"]
	path = Build/Common
	url = git://git.typo3.org/FLOW3/BuildEssentials.git
[submodule "Packages/Framework/Doctrine.ORM"]
	path = Packages/Framework/Doctrine.ORM
	url = git://git.typo3.org/FLOW3/Packages/Doctrine.ORM.git
[submodule "Packages/Framework/Doctrine.Common"]
	path = Packages/Framework/Doctrine.Common
	url = git://git.typo3.org/FLOW3/Packages/Doctrine.Common.git
[submodule "Packages/Framework/Doctrine.DBAL"]
	path = Packages/Framework/Doctrine.DBAL
	url = git://git.typo3.org/FLOW3/Packages/Doctrine.DBAL.git
[submodule "Packages/Framework/Symfony.Component.Yaml"]
	path = Packages/Framework/Symfony.Component.Yaml
	url = git://git.typo3.org/FLOW3/Packages/Symfony.Component.Yaml.git
